body {
    background: #95a5a6;
    margin: 0;
    padding: 0;

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu messages messages"
                         "menu messages messages"
                         "menu messages messages"
                         "menu Input Input";
}

.menu {
    grid-area: menu;
    background-color: #34495e;
    height: 600px;
}
.canales li {
    list-style: none;
    background-color: #34495e;
    margin-left: 20px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.canales li:hover {
    cursor: default;
    background-color: #1164A3;/* color canal seleccionado */
}

.canales a {
    color: #FFFFFF;
}

.canales li.active {
    background-color: #1164A3;
    color: #FFFFFF;
}

.messages {
    grid-area: messages;
    background-color: #2c3e50;
    height: 600px;
    overflow-y: scroll;
    list-style: none;
}

.Input {
    grid-area: Input;
    background-color: #2c3e50;
    height: 50px;
}

#enterMessage {
    width: 85%;
    height: 32px;
    margin-left: 10px;
    margin-top: 5px;
    color: #fff;
    background-color: #2c3e50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;

}

.button-send {
    float: right;
    margin-right: 11px;
    margin-top: 5px;
    padding: 10px;
    color: white;
    background-color: #2c3e50;
}

.button:focus {
    background-color: #19171D;
}

.chat, .metadata {
    display: flex;
    background: #2c3e50;
    color: #fff;
}

.chat {
    margin-left: 15px;
    margin-top: 6px;
}

.name {
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.time {
    margin-left: 50px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75%;
}

.message {
    margin-left: 10px;
    margin-top: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}




