<<<<<<< HEAD
* {
=======
.fondo {
>>>>>>> 520163ed58e604fdc1f119517f5b75efc75808f2
    width: 1355px;
    height: 800px;
    background-color: #19171D;
    position: fixed;
}

div.menu {
    width: 100px;
    height: 800px;
    font-size: 20px;
    color: white;
}

a:link {
    color: white;
}

.chat-logs {
    width: 1100px;
    height: 800px;
    background-color: #222529;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

<<<<<<< HEAD
.chat-logs .chat {
=======
.chat {
>>>>>>> 520163ed58e604fdc1f119517f5b75efc75808f2
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    /*margin-bottom: 10px;*/
    margin-left: 10px;
    padding-top: 10px;
    /*margin-top: 10px;*/
}

<<<<<<< HEAD
.chat-logs .chat .user-photo {
=======
.chat .user-photo {
>>>>>>> 520163ed58e604fdc1f119517f5b75efc75808f2
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 10%;
}

<<<<<<< HEAD
.chat-logs .chat .user-photo img {
    width: 100%;
}

.chat-logs .chat .chat-message {
=======
.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
>>>>>>> 520163ed58e604fdc1f119517f5b75efc75808f2
    width: 70%;
    padding: 15px;
    margin: 0px 5px 0;
    font-size: 15px;
}

.chatInput textarea {
    width: 90%;
    height: 20px;
    background-color: #222529;
    font-size: 18px;
    font-style: sans-serif;
    color: #656769;
    border-color: #656769;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    resize: none;
}

.chatInput input {
    float: right;
    padding: 4px;
    margin-right: 22px;
    margin-top: 10px;
}

.chatInput textarea:focus {
    background-color: #19171D;
}



